include ./pug/mixin/mixins
doctype html
html(lang="en" data-theme="light")
  head
    meta(charset='utf-8')
    meta(content='width=device-width, initial-scale=1.0' name='viewport')
    title Nguyen Vu Quoc - Developer
    meta(content='' name='description')
    meta(content='' name='keywords')
    link(rel='shortcut icon' href='./assets/img/favicon_io/favicon.ico' type='image/x-icon')
    link(rel='apple-touch-icon' sizes='180x180' href='./assets/img/favicon_io/apple-touch-icon.png')
    link(rel='icon' sizes='192x192' href='./assets/img/favicon_io/android-chrome-192x192.png')
    link(rel='icon' type='image/png' sizes='32x32' href='./assets/img/favicon_io/favicon-32x32.png')
    link(rel='icon' type='image/png' sizes='16x16' href='./assets/img/favicon_io/favicon-16x16.png')
    link(rel='manifest' href='./assets/img/favicon_io/site.webmanifest')
    link(rel='stylesheet' href='./assets/font/OpenSans.css')
    link(rel='stylesheet' href='./assets/font/Poppins.css')
    link(rel='stylesheet' href='./assets/font/Raleway.css')
    link(href='assets/vendor/aos/aos.css' rel='stylesheet')
    link(href='assets/vendor/boxicons/css/boxicons.min.css' rel='stylesheet')
    link(rel='stylesheet' href='https://unpkg.com/swiper/swiper-bundle.min.css')
    link(rel='stylesheet' href='./assets/css/main.css')
    link(rel='stylesheet' href='./assets/css/grid.css')
  body
    .mobile-nav-toggle.d-xl-none
      .line.line-1
      .line.line-2
      .line.line-3
    include ./pug/views/header
    include ./pug/views/hero
    main#main
      include ./pug/views/about
      include ./pug/views/skills
      include ./pug/views/resume
      include ./pug/views/products
      include ./pug/views/contact
    include ./pug/views/footer
    include ./pug/views/modal
    #preloader
    .back-to-top
      i.bx.bx-up-arrow-alt
    #theme-toggle
      i.bx.bx-sun.light-switch
      i.bx.bx-moon.dark-switch
    script(src='./assets/vendor/aos/aos.js')
    script(src='./assets/vendor/typed.js/typed.min.js')
    script(src='./assets/vendor/waypoints/noframework.waypoints.js')
    script(src='./assets/vendor/php-email-form/validate.js')
    script(src='./assets/vendor/particles.js-master/particles.js')
    script(src='https://unpkg.com/swiper/swiper-bundle.min.js')
    script(src='./assets/js/main.js')