/**
* header
*/
header {
    display: flex;
    align-items: center;
    justify-content: center;
}
#header {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 9997;
    transition: all 0.5s;
    padding: 15px;
    overflow-y: auto;
}
@media (max-width: 992px) {
    #header {
        width: 300px;
        background: var(--background-body);
        border-right: 1px solid #e6e9ec;
        left: -300px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    }
}

@media (min-width: 993px) {
    #main {
        margin-left: 100px;
    }
}
/**
* Navigation
*/
.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    .nav-link {
        display: block;
        padding: 0.5rem 1rem;
        color: #0d6efd;
        text-decoration: none;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
            border-color 0.15s ease-in-out;
        &:hover,
        &:focus {
            color: #0d6efd;
        }
    }
}
@media (prefers-reduced-motion: reduce) {
    .nav-link {
        transition: none;
    }
}
.nav-link.disabled {
    color: #6c757d;
    pointer-events: none;
    cursor: default;
}

/**
* Desktop Navigation
*/
.nav-menu {
    padding: 0;
    display: block;
    width: 100%;
    * {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    > ul {
        > li {
            position: relative;
            white-space: nowrap;
        }
    }
}
.nav-menu a,
.nav-menu a:focus {
    display: flex !important;
    align-items: center;
    padding: 10px 18px;
    margin-bottom: 8px;
    font-size: 15px;
    border-radius: 50px;
    background: #f8f8f8;
    height: 56px;
    width: fit-content;
    overflow: hidden;
    color: #0d6efd !important;
    transition: all 0.25s linear;
    border: 0.1px solid #0d6efd;
}
.nav-menu a i,
.nav-menu a:focus i {
    font-size: 20px;
}
.nav-menu a span,
.nav-menu a:focus span {
    padding: 0 5px 0 7px;
    color: #0d6efd;
    transition: all 0.25s linear;
}
@media (min-width: 993px) {
    .nav-menu a,
    .nav-menu a:focus {
        width: 56px;
        transition: all 0.25s linear;
    }
    .nav-menu a span,
    .nav-menu a:focus span {
        display: none;
        color: #0d6efd;
        transition: all 0.25s linear;
    }
}
@media (max-width: 992px) {
    .nav-menu a {
        width: 100%;
        color: #0563bb;
    }
    .nav-link > span {
        color: #0563bb;
    }
}
.nav-menu a:hover,
.nav-menu .active,
.nav-menu .active:focus,
.nav-menu li:hover > a {
    color: #fff !important;
    background: #0563bb;
    transition: all 0.25s linear;
}
.nav-menu a:hover span,
.nav-menu .active span,
.nav-menu .active:focus span,
.nav-menu li:hover > a span {
    color: #fff;
    transition: all 0.25s linear;
}
.nav-menu a:hover,
.nav-menu li:hover > a {
    width: 100%;
    color: #fff;
    transition: all 0.25s linear;
}
.nav-menu a:hover span,
.nav-menu li:hover > a span {
    display: block;
    transition: all 0.25s linear;
}
@media screen and (max-width: 992px) {
    #header.nav-mobile-active {
        left: 0;
    }
    #header.nav-mobile-active a {
        width: 100%;
    }
    #header.nav-mobile-active span {
        display: block;
        transition: all 0.25s linear;
    }
}
/**
* Mobile Navigation
*/
.mobile-nav-toggle {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    z-index: 9998;
    top: 15px;
    right: 15px;
    cursor: pointer;
    background-color: rgb(5, 99, 187);
    background: linear-gradient(90.06deg, #2cccff -4.45%, #22dfbf 104.12%);
    border-radius: 50%;
    overflow: hidden;
    .line {
        background-color: #fff;
        width: 30px;
        height: 3px;
        position: relative;
        transition: all 0.3s ease;
        z-index: -1;
        overflow: hidden;
    }
    .line-1 {
        top: -0.3rem;
    }
    .line-2 {
        top: 0rem;
    }
    .line-3 {
        top: 0.3rem;
    }
}
.mobile-nav-toggle.button-nav-active {
    .line {
        top: 0;
        transition: all 0.3s ease;
    }
    .line-1 {
        top: 1.5px;
        transform: rotate(-135deg);
    }
    .line-2 {
        width: 0;
        height: 0;
        opacity: 0;
        transform: translateX(7rem);
    }
    .line-3 {
        top: -1.5px;
        transform: rotate(135deg);
    }
}
@media screen and (min-width: 993px) {
    .mobile-nav-toggle {
        display: none;
    }
}
