/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/
.product-list {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    .product-item {
        width: 100%;
        max-width: 400px;
        // min-width: 28rem;
        margin-left: auto;
        margin-right: auto;
        padding: 20px 20px 50px;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        border-radius: 13px;
        background: linear-gradient(90.06deg, #2cccff -4.45%, #22dfbf 104.12%);
        position: relative;
        > img {
            display: block;
            width: 100%;
            max-width: 100px;
            margin-left: auto;
            margin-right: auto;
        }
        .product-title {
            margin: 15px 0;
            font-size: 30px;
            text-align: center;
            color: transparent;
            background-clip: text;
            -webkit-background-clip: text;
            background-image: linear-gradient(
                90.06deg,
                #f62682 -4.45%,
                #6f5cf1 104.12%
            );
        }
        .product-desc {
            text-align: center;
            margin: 10px 0;
            line-height: 1.6;
        }
        .product-view {
            position: absolute;
            left: 0;
            bottom: 0;
            display: block;
            width: fit-content;
            padding: 10px 20px;
            border-bottom-left-radius: 13px;
            border-top-right-radius: 13px;
            color: #000;
            background: #fff;
            cursor: pointer;
            font-weight: 700;
        }
        .product-install {
            position: absolute;
            right: 0;
            bottom: 0;
            display: block;
            width: fit-content;
            padding: 10px 20px;
            border-top-left-radius: 13px;
            border-bottom-right-radius: 13px;
            background: linear-gradient(
                90.06deg,
                #f62682 -4.45%,
                #6f5cf1 104.12%
            );
            color: #fff;
            font-weight: 600;
        }
    }
}
@media screen and (max-width: 787px) {
    .product-list {
        flex-direction: column;
        gap: 30px;
    }
}
@media screen and (max-width: 375px) {
    .product-title {
        font-size: 20px !important;
        margin: 10px 0 !important;
    }
}
@media screen and (max-width: 406px) {
    .product-desc {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        word-break: break-word;
    }
}
