/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/
.product-list {
    display: flex;
    justify-content: space-around;
    gap: 2rem;
    .product-item {
        width: 100%;
        max-width: 30rem;
        margin-left: auto;
        margin-right: auto;
        padding: 4rem 2rem;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        border-radius: 1.3rem;
        background: linear-gradient(90.06deg, #2cccff -4.45%, #22dfbf 104.12%);
        position: relative;
        > img {
            display: block;
            width: 100%;
            max-width: 10rem;
            margin-left: auto;
            margin-right: auto;
            // padding-top: 100%;
        }
        .product-title {
            margin: 1.5rem 0;
            font-size: 3rem;
            text-align: center;
            color: transparent;
            background-clip: text;
            -webkit-background-clip: text;
            background-image: linear-gradient(
                90.06deg,
                #f62682 -4.45%,
                #6f5cf1 104.12%
            );
        }
        .product-desc {
            text-align: justify;
            margin: 1rem 0;
            line-height: 1.6;
        }
        .product-view {
            position: absolute;
            left: 0;
            bottom: 0;
            display: block;
            width: fit-content;
            padding: 1rem 2rem;
            border-bottom-left-radius: 1.3rem;
            border-top-right-radius: 1.3rem;
            // background: linear-gradient(90.06deg, #f62682 -4.45%, #6f5cf1 104.12%);
            color: #fff;
            // background-image: linear-gradient(to right bottom, #00aefd, #20e3b2);
            background: inherit;
            border-top: 2px solid #000;
            border-right: 2px solid #000;
            cursor: pointer;
        }
        .product-install {
            position: absolute;
            right: 0;
            bottom: 0;
            display: block;
            width: fit-content;
            padding: 1rem 2rem;
            border-top-left-radius: 1.3rem;
            border-bottom-right-radius: 1.3rem;
            background: linear-gradient(
                90.06deg,
                #f62682 -4.45%,
                #6f5cf1 104.12%
            );
            color: #fff;
        }
    }
}
@media screen and (max-width: 787px) {
    .product-list {
        flex-direction: column;
        gap: 3rem;
    }
}
