/**
* snow animation
*/
// .hidden {
//     display: none !important;
// }

#snowflake {
    color: rgb(104, 204, 230);
    position: absolute;
    font-size: 25px;
    top: -50px;
    user-select: none;
    cursor: default;
    -webkit-animation: spin-clockwise 6s linear infinite;
    -moz-animation: spin-clockwise 6s linear infinite;
    animation: spin-clockwise 6s linear infinite;
}
@-moz-keyframes spin-clockwise {
    100% {
        -moz-transform: rotate(360deg);
    }
}
@-webkit-keyframes spin-clockwise {
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@keyframes spin-clockwise {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-moz-keyframes spin-counterclockwise {
    100% {
        -moz-transform: rotate(-360deg);
    }
}
@-webkit-keyframes spin-counterclockwise {
    100% {
        -webkit-transform: rotate(-360deg);
    }
}
@keyframes spin-counterclockwise {
    100% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}
