section#about.about
  .container(data-aos='fade-up')
    .section-title
      h2 About
      p Being a hard worker and like to learn, always try every day to train myself in both technical skills and software. Desire to become a programming expert, able to participate in big projects.
    .row
      .col-lg-4.l-4.c-4
        img.img-fluid.m-w(src='./assets/img/avt1.jpg' alt='')
      .l-8.p-12.col-lg-8.pt-4.pt-lg-0.content
        h3 Web Developer &amp; Freelancer.
        p.fst-italic Below is the basic information about myself
        .row
          .col-lg-6.l-6.c-6
            ul
              li
                i.bx.bxs-right-arrow
                strong Birthday:
                span 01 - 01 - 2000
              li
                i.bx.bxs-right-arrow
                strong Website:
                span www.example.com
              li
                i.bx.bxs-right-arrow
                strong Phone:
                span +84 349172592
              li
                i.bx.bxs-right-arrow
                strong City:
                span Da Nang, Viet Nam
          .col-lg-6.l-6.l-6
            ul
              li
                i.bx.bxs-right-arrow
                strong Age:
                span 22
              li
                i.bx.bxs-right-arrow
                strong Degree:
                span University Bachelor
              li
                i.bx.bxs-right-arrow
                strong Email:
                span ngvuquoc.17@gmail.com
              li
                i.bx.bxs-right-arrow
                strong Freelance:
                span Available
