footer#footer
  .container
    h3 Vu Quoc Nguyen
    p Web Developer - Freelancer
    .social-links
      a.facebook(target='_blank' href='https://www.facebook.com/ngvuq.11/')
        i.bx.bxl-facebook
      a.github(target='_blank' href='https://github.com/ngvuq11')
        i.bx.bxl-github
      a.instagram(target='_blank' href='https://www.instagram.com/__thang8amlich/')
        i.bx.bxl-instagram
      a.mail(target='_blank' href='mailto:ngvuquoc.17@gmail.com')
        i.bx.bx-mail-send
    .copyright
      span &copy; Powered by ngvuq