header#header(data-aos='zoom-in-right' data-aos-delay='100')
  nav#navbar.navbar.nav-menu
    ul
      li
        a.nav-link.scrollto.active(href='#hero')
          i.bx.bx-home
          span Home
      li
        a.nav-link.scrollto(href='#about')
          i.bx.bx-user
          span About
      li
        a.nav-link.scrollto(href='#skills')
          i.bx.bx-bar-chart
          span Skill
      li
        a.nav-link.scrollto(href='#resume')
          i.bx.bx-file-blank
          span Resume
      li
        a.nav-link.scrollto(href='#myproduct')
          i.bx.bx-cube-alt
          span My Products