section#hero.home.hero-home
  .container
    .hero-content(data-aos='zoom-in' data-aos-delay='100')
      h1 Vu Quoc Nguyen
      p I'm &nbsp;
        span.typed(data-typed-items='Web Developer, Freelancer')
      .social-links
        a.facebook(href='https://www.facebook.com/ngvuq.11/' target='_blank')
          i.bx.bxl-facebook-circle
        a.instagram(href='https://www.instagram.com/__thang8amlich/' target='_blank')
          i.bx.bxl-instagram
        a.google-plus(href='mailto:ngvuquoc.17@gmail.com' target='_blank')
          i.bx.bx-mail-send
        a.linkedin(href='https://github.com/ngvuq11' target='_blank')
          i.bx.bxl-github
  #particles-js