.products-modal
  .swiper
    .swiper-wrapper
      img.swiper-slide(src='./assets/img/wcontrast1.png' alt='view visual studio code by ngvuq')
      img.swiper-slide(src='./assets/img/wcontrast2.png' alt='view visual studio code by ngvuq')
    .swiper-button-prev
    .swiper-button-next