section#resume.resume
  .container(data-aos='fade-up')
    .section-title
      h2 Resume
      p These are the basic information about myself. And all the learning, activities, work and as well as theexperiences I have accumulated during my personal development.
    .row
      .col-lg-6.l-6
        h3.resume-title Sumary
        .resume-item.pb-0
          h4 Nguyen Vu Quoc
          p
            em I am a final year student of Duy Tan University, my major is software engineering. During the learning process, I have accumulated for myself many basic skills (including soft skills and work skills).
          ul
            li 01 - 01 - 2000
            li Da Nang, Viet Nam
            li (+84) 0349172592
            li ngvuquoc.17@gmail.com
        h3.resume-title Education
        .resume-item
          h4 DUY TAN university
          h5 2018 - 2022
          p
            em Software Technology
          ul
            li Study/work independently and work with you to improve on class projects and personal projects.
            li Basic knowledge of programming, website building, algorithms.
            li Web Development industry awareness and new technologies.
      .col-lg-6.l-6
        h3.resume-title Experience
        .resume-item
          h4 ST UNITED
          h5 02/2022 - Present
          p
            em Internship Developer.
          ul
            li Lead in the design, development, and implementation of the graphic, layout, and production communication materials
            li Delegate tasks to the 7 members of the design team and provide counsel on all aspects of the project.
            li Supervise the assessment of all graphic materials in order to ensure quality and accuracy of the design
            li Oversee the efficient use of production project budgets ranging from $2,000 - $25,000
        .resume-item
          h4 SmartDev
          h5 2020 - 2021
          p
            em Internship Developer
          ul
            li Developed numerous marketing programs (logos, brochures,infographics, presentations, and advertisements).
            li Managed up to 5 projects or tasks at a given time while under pressure
            li Recommended and consulted with clients on the most appropriate graphic design
            li Created 4+ design presentations and proposals a month for clients and account managers
