/**
* back to top button
*/
.back-to-top {
    position: fixed;
    z-index: 996;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 60px;
    background: #0563bb;
    width: 60px;
    height: 34px;
    border-radius: 50px;
    transition: all 0.4s;
    display: flex;
    justify-content: center;
    align-items: center;
    i {
        font-size: 28px;
        color: #fff;
        line-height: 0;
    }
    &:hover {
        background: #0678e3;
        color: #fff;
    }
}
.back-to-top.active {
    visibility: visible;
    opacity: 1;
}

/**
* switch theme button
*/
.theme-switch-wrapper {
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 999999;
    .theme-switch {
        display: inline-block;
        height: 34px;
        position: relative;
        width: 60px;
        input {
            display: none;
        }
        .slider {
            /* background-color: rgb(5, 99, 187); */
            background: linear-gradient(
                90.06deg,
                #2cccff -4.45%,
                #22dfbf 104.12%
            );
            bottom: 0;
            cursor: pointer;
            left: 0;
            position: absolute;
            right: 0;
            top: 0;
            transition: 0.4s;
            &:before {
                background-color: #f7f8fa;
                bottom: 4px;
                content: "";
                height: 26px;
                left: 4px;
                position: absolute;
                transition: 0.4s;
                width: 26px;
            }
        }
        input:checked + .slider {
            /* background-color: #fff; */
            &:before {
                transform: translateX(26px);
                background-color: #1f2028;
            }
        }
        .slider.round {
            border-radius: 34px;
            &:before {
                border-radius: 50%;
            }
        }
    }
}
/**
* switch theme button 2
*/
#theme-toggle {
    display: flex;
    position: fixed;
    right: 15px;
    bottom: 15px;
    font-size: 25px;
    width: 60px;
    height: 34px;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    border: none;
    outline: none;
    background: linear-gradient(90.06deg, #2cccff -4.45%, #22dfbf 104.12%);
    z-index: 99999999;
    color: #fff;
    transition: all 0.25s linear;
    font-weight: 500;
}
