// :root {
//     --text-color: #272829;
//     --background-body: #f7f8fa;
//     --scroll-bar: #1f2028;
// }
[data-theme="light"] {
    --background-body: #f7f8fa;
    --scroll-bar: #1f2028;
    --text-color: #272829;
    --border-menu: #0d6efd;
}
[data-theme="dark"] {
    --background-body: #1f2028;
    --scroll-bar: #f7f8fa;
    --text-color: white;
    --border-menu: tranparent;
}
